<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Isidore ~ IP Address Query</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link rel="stylesheet" href="../static/dist/css/adminlte.min.css">

  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/dark.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

  <style>
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial sans-serif, "Apple Color Emoji,", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    {{ style | safe }}
  </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="../static/logo.png" alt="Isidore" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/home" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/url" class="nav-link">URL</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/ip" class="nav-link" style="color: #BA8A49">IP Address</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/domain" class="nav-link">Domain</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/filehash" class="nav-link">File Hash</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/settings" class="nav-link">Settings</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" href="/history" role="button">
          <i class="fas fa-history"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside style="background-color: #0E4F61;" class="main-sidebar elevation-4">
    <!-- Brand Logo -->
    <a href="/home" class="brand-link">
      <img src="../static/logo.png" alt="Isidore" class="brand-image elevation-0" style="opacity: .8">
      <span class="brand-text font-weight-light" style="color: white; margin-left: 15px; font-family: 'Alata';">ISIDORE</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <br>
          <li class="nav-item">
            <a href="/home" class="nav-link" style="color: white;">
              <i class="nav-icon fas fa-home"></i><p>Home</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/url" class="nav-link" style="color: white;">
              <i class="nav-icon fas fa-paperclip"></i><p>URL</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/ip" class="nav-link" style="color: #BA8A49;">
              <i class="nav-icon fas fa-ethernet"></i><p>IP Address</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/domain" class="nav-link" style="color: white;">
              <i class="nav-icon fas fa-globe"></i><p>Domain</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/filehash" class="nav-link" style="color: white;">
              <i class="nav-icon fas fa-file-alt"></i><p> File Hash</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/history" class="nav-link" style="color: white;">
              <i class="nav-icon fas fa-history"></i><p>Search History</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/settings" class="nav-link" style="color: white;">
              <i class="nav-icon fas fa-cogs"></i><p>Settings</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h1 class="m-0">IP Address Query</h1>
            <a style="background-color: #0E4F61; float: right; color: white;" role="button" href="/ip-analyse" class="btn btn btn-lg {{ disabled }}">Re-analyse <i class="fas fa-undo-alt"></i></a> 
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
          <center>
            <form action="/ip" method="POST">
              <div class="input-group">
                <input type="text" name="query" class="form-control form-control-md" placeholder="Enter your Query here" value="{{ value }}">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-md btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </center>
        <br>
        <div id="services" class="carousel carousel-dark slide" data-bs-interval="false">
          <div class="carousel-inner">

            {{ html | safe }}

          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    This App was created by <strong><a href="https://callum-fiekert.com" target="_blank">Callum Fiekert</a></strong>
  </footer>
</div>

<script src="../static/plugins/jquery/jquery.min.js"></script>
<script src="../static/plugins/jquery-ui/jquery-ui.min.js"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="../static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/dist/js/adminlte.js"></script>
<script src="../static/dist/js/demo.js"></script>
<script src="../static/dist/js/pages/dashboard.js"></script>

{{ chart | safe }}

<!-- <script>
  am4core.ready(function() {
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("chartdiv", am4charts.PieChart3D);
    chart.innerRadius = am4core.percent(40);
    chart.data = [{"detection": "Clean", "count": }, {"detection": "Malicious", "count": }, {"detection": "Suspicious", "count": }, {"detection": "Undetected", "count": }];
    var pieSeries = chart.series.push(new am4charts.PieSeries3D());
    pieSeries.dataFields.value = "count";
    pieSeries.dataFields.category = "detection";
    pieSeries.slices.template.stroke = am4core.color("#fff");
    pieSeries.slices.template.strokeWidth = 2;
    pieSeries.slices.template.strokeOpacity = 1;
    pieSeries.labels.template.disabled = false;
    pieSeries.ticks.template.disabled = false;
    pieSeries.slices.template.states.getKey("hover").properties.shiftRadius = 0;
    pieSeries.slices.template.states.getKey("hover").properties.scale = 1.1;
  });
</script> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
